<div class="row">
  <div class="col-sm-1">
    <span class="glyphicon glyphicon-arrow-up" {{action 'upvote' answer}}></span>
    <h4>{{answer.votes}}</h4>
    <span class="glyphicon glyphicon-arrow-down" {{action 'downvote' answer}}></span>
  </div>
  <div class="col-sm-11">
    <h5>{{answer.content}}</h5>
    <p>{{answer.author}}</p>
    {{edit-answer answer=answer editAnswer="editAnswer"}}
    <button {{action 'deleteAnswer' answer}}>Delete Answer</button>
  </div>
</div>
