{{#if addNewAnswer}}
  <h2>Answer</h2>
    <div>
      <form>
        <div class="form-group">
          <label for="author">Name</label>
          {{input value=author id="author"}}
        </div>

        <div class="form-group">
          <label for="content">Your Answer</label>
          {{input value=content id="content"}}
        </div>

        <button {{action 'answerSave1'}}>Save Answer</button>
      </form>
    </div>
{{else}}
    <button {{action 'answerFormShow'}}>Update</button>
{{/if}}
