<div class="row">
  <div class="col-sm-3">
    <button {{action 'upvote' question}}>Up Vote</button>
    <h3>{{question.votes}}</h3>
    <button {{action 'downvote' question}}>Don Vote</button>
  </div>
</div>

<div class="col-sm-9">
  {{#link-to 'question'question.id}}<h3>{{question.content}}</h3>{{/link-to}}
  <h4>{{question.author}}<h4>
</div>
