<h3>{{model.content}}</h3>
<h3>{{model.author}}</h3>
<p>{{model.notes}}</p>

{{edit-question question=model editQuestion="editQuestion"}}
<button {{action 'delete' model}}>Delete</button>

<ul>
  {{#each model.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
</ul>

{{new-answer question=model answerSave2="answerSave3"}}
